@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Schibsted+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

/*Boneco Finança*/

#finança{
    width: 100px;
    position: fixed;
    border-radius: 100px;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    box-shadow:  4px 4px 4px rgba(0, 0, 0, 0.311);
}

/*Inicio*/

.inicio{
    position: relative;
    width: 100%;
}

.inicio h1{
    font-family: 'Fascinate Inline', cursive;
    font-size: 180px;
    color: #640D14;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 50px;
}

/*Navbar*/

.inicio .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio .navbar a:link{
    color: #B23A48;
    text-decoration: none;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 350px;
    transition: all 0.5s ease-in-out;

}

.inicio .navbar a:visited{
    font-family: 'Schibsted Grotesk', sans-serif;
    color: #B23A48;
}

.inicio .navbar a:hover{
    font-family: 'Schibsted Grotesk', sans-serif;
    color: #FFD707;
    font-weight: bolder;
}

#link-p{
    color: #B23A48;
    text-decoration: none;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 350px;
    text-decoration: overline;
    font-weight: bolder;
    transition: all 0.5s ease-in-out;
}

#link-p:hover{
    color: #FFD707;
}

/*Imagens*/

#img1{
    position: absolute;
    left: 140px;
    top: 140px;
    width: 400px;
}

#img2{
    position: absolute;
    top: 160px;
    right: 200px;
    width: 270px; /*-170*/
}

/*Informações sobre o Site*/

.info1 {
    margin-bottom: 150px;
    color: #640D14;
    position: relative;
    width: 550px;
    height: 200px;
    font-size:28px;
    font-family: 'Fascinate Inline', cursive;   
    left: 200px;
}

.info2 {
    font-family: 'Schibsted Grotesk', sans-serif;
    margin-top: 120px;
    color: #640D14;
    position: absolute;
    width: 450px;
    font-size: 12.5px;
    text-align: justify;
    right: 200px;
    top: 615px;
}

/*Opçoes*/
.fundo-op{
    background-color: #640D14;
    max-height: 540px;
}

.opcoes {
    height: 570px;
    padding-top: 3%;
    display: block;
    align-items: center;
    justify-content: center;
}

/*Opçoes do Sistema*/

.op-container{
    background-color: #F2F2F2;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow:  4px 4px 4px rgba(0, 0, 0, 0.311);
}

/*Opçoes Imagens*/

#op-img1{
    max-width: 70px;
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}

#op-img2{
    max-width: 53px;
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#op-img3{
    max-width: 75px;
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}

/*Opções Descriçao*/

.opcoes .op-container .op-desc{
    width: 200px;
    display: block;
}

#op-h5{
    color: #640D14;
    font-size: 15px;
    font-family: 'Schibsted Grotesk', sans-serif;
    margin-top: 40px;
    margin-left: 30px;
}

#op-p{
    color: #B23A48;
    margin-left: 30px;    
    font-size: 13px;
    font-family: 'Schibsted Grotesk', sans-serif;
}

#op-a{
    color: #B23A48;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 67%;
    padding-right: 10%;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

#op-a:hover{
    color: #FFD707;
    text-decoration: none;
}

/*Depoimentos*/

.depoimentos{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.dp-container{
    display: block;
    width:290px;
    height: 400px;
    padding: 25px;
    margin: 40px;
    border-radius: 15px;
    background-color: #F2F2F2;
    box-shadow:  4px 4px 4px rgba(0, 0, 0, 0.311);
}

#dp-img1 {
    display: block;
    max-width: 240px;
    max-height: 240px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 65px;
    background-color: white;
    border-radius: 15px;
}

#dp-img2 {
    display: block;
    max-width: 240px;
    max-height: 240px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 75px;
    background-color: white;
    border-radius: 15px;
}

#dp-img3 {
    display: block;
    max-width: 270px;
    max-height: 240px;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: white;
    border-radius: 15px;
}

#dp-h{
    margin-top: 10px;
    font-size: 18px;
    color: #8C2F39;
    font-family: 'Schibsted Grotesk', sans-serif;
}

#dp-p{
    margin-top: 10px;
    color: #8C2F39;
    font-family: 'Schibsted Grotesk', sans-serif;
}

/*Mensagem Final*/

.mensagem{
    background-color: #640D14;
    height: 450px;
}

#ms-h{
    color: white;
    font-family: 'Fascinate Inline', cursive;
    font-size: 45px;
    width: 700px;
    display: flex;
    padding-top: 40px;
    margin-left: 10%;
}

/*Botoes Finais*/

.mensagem .btn-finais{
    position: relative;
    width: 50%;
    top: 100px;
    left: 10%;
}

#btn{
    background-color: white;
    color: #640D14;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: bold;
    text-decoration: none;
    width: 120px;
    height: 40px;
    align-items: center;
    position: relative;
    padding: 10px;
    border-radius: 2px;
    box-shadow:  4px 4px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
}

#btn:hover{
    background-color: #8C2F39;
    color: white;
}

/*Rodapé*/

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
}

#rd-h{
    color: #640D14;
    font-size: 20px;
    font-family: 'Schibsted Grotesk', sans-serif;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

#rd-a{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #8C2F39;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 500;
    margin-left: 100px;
    margin-right: 100px;
    transition: all 0.5s ease-in-out;
}

#rd-a:hover{
    color: #B23A48;
}

#rd-p{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #8C2F39;
    font-family: 'Schibsted Grotesk', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    cursor: default;
}

/*Termos*/

.termos {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#creditos{
    display: flex;
    font-family: 'Schibsted Grotesk', sans-serif;
}