@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Inter&family=Schibsted+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bevan&display=swap');


/*Navbar*/

.navbar {
    display: flex;
}

/*Logo*/

#logo{
    width: 200px;
    color: black;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    margin-left: 38px;
    font-size: 50px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}

#logo:hover {
    color: #B23A48;
}

/*Links*/

.navbar .nvb{
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-right: 10px;
    margin-bottom: 20px;
}

#link{
    color: #B23A48;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    margin: 10px;
    font-size: 16px;
    font-weight: bolder;
    transition: all 0.5s ease-in-out;
}

#link:hover{
    color: #640D14;
}

/*Contato*/

#contato{
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    align-items: center;
    background-color: #640D14;
    color: white;
    transition: all 0.5s ease-in-out;
    box-shadow:  4px 4px 4px rgba(0, 0, 0, 0.311);
    font-family: 'Inter', sans-serif;
}

#contato:hover {
    background-color: #B23A48;
}

/*Titulo*/

.titulo {
    font-family: 'Fascinate Inline', cursive;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Formulario*/

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario {
    max-width: 900px;
    width: 100%;
    border-radius: 50px;border-radius: 50px; 
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 12px 0;
    background-image: linear-gradient(to top left, #780000, #B23A48);
    box-shadow:  10px 10px 10px rgba(40, 40, 40, 0.311);
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.formulario .input-box {
    margin-bottom: 15px;
    margin-left: 15px;
    width: calc(100% / 2 - 20px);
}

.formulario .input-box .details {
    display: block;
    font-weight: 560;
    margin-bottom: 5px;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: bold;
    color: white;
}

.formulario .input-box input {
    height: 45px;
    width: 96%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ededed;
    padding-left: 10px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.5s ease;
    box-shadow:  1px 1px 1px rgba(40, 40, 40, 0.311);
}

.formulario .input-box input:focus {
    border-color: #B23A48;
    box-shadow:  1px 1px 1px rgba(40, 40, 40, 0.311);
}

/*Botão*/

.formulario button {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    background-color: #d3d3d3;
    border: 1px solid #e5e5e5;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.5s ease-in-out;
    box-shadow:  2px 2px 2px rgba(40, 40, 40, 0.311);
    margin-bottom: 50px;
}

.formulario button:hover {
    background-color: #B23A48;
    color: #fff;
    border: 1px solid #ccc;
    padding-left: 15px;
    cursor: pointer;
}

/*Confirmações*/

.formulario .confirmacoes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
}

.formulario .confirmacoes input{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #d3d3d3;
    border: 5px solid #B23A48;
    border-radius: 3px;
    cursor: pointer;
}

.formulario .confirmacoes  input:checked{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #780000;
    border: 1px solid #780000;
    border-radius: 3px;
}

.formulario .confirmacoes p{
    font-family: 'Schibsted Grotesk', sans-serif;
    color: #ccc;
}

.formulario .confirmacoes a {
    color: white;
    text-decoration: none;
    margin-left: 5px;
    font-weight: bold;
    font-family: 'Schibsted Grotesk', sans-serif;
    transition: all 0.5s ease-in-out;

}

.formulario .confirmacoes a:hover, .formulario .confirmacoes a:visited {
    color: white;
    transform: scale(1.01);
}