@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Schibsted+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Inter&family=Schibsted+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bevan&display=swap');


*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


html{

    scroll-behavior: smooth;

}

/*Navbar*/

.navbar {
    display: flex;
}

/*Logo*/

#logo{
    width: 200px;
    color: black;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    margin-left: 38px;
    font-size: 50px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}

#logo:hover {
    color: #B23A48;
}

/*Links*/

.navbar .nvb{
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-right: 10px;
    margin-bottom: 20px;
}

#link{
    color: #B23A48;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    margin: 10px;
    font-size: 16px;
    font-weight: bolder;
    transition: all 0.5s ease-in-out;
}

#link:hover{
    color: #640D14;
}

#link-p{
    color: #B23A48;
    font-family: 'Inter', sans-serif;
    margin: 10px;
    font-size: 16px;
    text-decoration: overline;
    font-weight: bolder;
    transition: all 0.5s ease-in-out;
}

#link-p:hover{
    color: #640D14;
}

/*Contato*/

#contato{
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    align-items: center;
    background-color: #640D14;
    color: white;
    transition: all 0.5s ease-in-out;
    box-shadow:  4px 4px 4px rgba(0, 0, 0, 0.311);
    font-family: 'Inter', sans-serif;
}

#contato:hover {
    background-color: #B23A48;
}


.topo{

    padding-top: 40px;

}

.container{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.textotitulo{

    padding-right: 10px;
    
}

.imagem{
    width: 500px;
}

.textotitulo h1#ajuda{

    font-family: 'Fascinate Inline', cursive;
    font-size: 90px;
    font-weight: bold;
    color: #640D14;
    padding: 0;
    margin: 0;

}
.textotitulo h1#Gasto{

    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 80px;
    color: #AD2831;
    padding: 0;
    margin: 0;

}

section.sumario{

    padding-top: 100px;
    padding-bottom: 120px;

}

.sumariocontainer{

    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.titulosumario{

    width: 60%;
    font-family: 'Fascinate Inline', cursive;
    color: #38040E;
    font-size: 30px;
    padding-bottom: 20px;

}

.sumarioitens{

    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 35px;
    color: #38040E;
    font-family: 'Schibsted Grotesk', sans-serif;

}

a.bton{

    font-family: 'Schibsted Grotesk', sans-serif;
    text-decoration: none;
    color: #38040E;

}

.topico{

    background: #640D14;
    display: flex;
    justify-content: center;

}

.containertopico{

    padding-top: 120px;
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.titulotopico{

    padding-bottom: 20px;
    width: 50%;

}

.planejamento{

    font-family: 'Fascinate Inline', cursive;
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;

}

.texto{

    padding-top: 40px;
    padding-bottom: 30px;
    font-family: 'Schibsted Grotesk', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;

}
.topico2{

    background: #640D14;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.containertopico2{

    padding-top: 120px;
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;

}

.titulotopico2{

    padding-bottom: 20px;

}

.planejamento2{

    font-family: 'Fascinate Inline', cursive;
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    width: 100%;

}

.texto2{

    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Schibsted Grotesk', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;

}
.textofora{

    padding-bottom: 30px;
    font-family: 'Schibsted Grotesk', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;

}

/*Rodapé*/

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
}

#rd-h{
    color: #640D14;
    font-size: 20px;
    font-family: 'Schibsted Grotesk', sans-serif;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

#rd-a{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #8C2F39;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 500;
    margin-left: 100px;
    margin-right: 100px;
    transition: all 0.5s ease-in-out;
}

#rd-a:hover{
    color: #B23A48;
}

#rd-p{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #8C2F39;
    font-family: 'Schibsted Grotesk', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    cursor: default;
}

/*Termos*/

.termos {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#creditos{
    display: flex;
    font-family: 'Schibsted Grotesk', sans-serif;
}